//META{"name":"Shadecord","description":"A cleaner, darker and higher contrast Discord theme.","author":"Zaxpy","version":"0.1.c"}*//{}
/*CHANGELOG:

0.1.c:
	- Removed all current UI modifications (outlines, shapes, etc.)
	- Changed all Dark theme colours to a new pallete.
	- Added a visible line divider between the top of the bottom-left status menu/bar and the channel list.

0.1.b:
	- Added new dark mode color scheme, similar to AMOLED theme on Android.
	- Replaced previous status indicator system with a temporary fix using Gibbu's Radial Status theme.
	- Adjusted padding in pop-up user profiles.
	- Adjusted padding in chat bar.
	- Modified shape and added border to more text fields, large user profiles, attatchment upload GUI and embedded items.

0.1.a:
	- Modified shape and added border to chat bar, avatars, pop-up user profiles and other miscellaneous text fields.
	- Removed right click hint from pop-up user profiles.
	- Modified shape of roles in pop-up user profiles.
	- Modified size of chat messages so their content can extend much closer to the scroll bar.
*/

/*KNOWN ISSUES:
	- Debug content on status buttons
	- Broken custom server banner art
*/

/*WORK IN PROGRESS:
	- Correctly match dark mode color scheme with Android AMOLED theme.
	- Consistent contrast across all UI elements.
	- Revert Inbox functionality to old "Mentions" menu.
*/

/*Dark colors*/
.theme-dark {
	--background-primary: #2B2A33;
	--background-secondary: #1C1B22;
	--background-secondary-alt: #1C1B22;
	--background-tertiary: #111119;
	--channeltextarea-background: #42414D;
	--scrollbar-thin-thumb: #111119;
	--scrollbar-auto-thumb: #111119;
	--scrollbar-auto-track: #1C1B22;
}
.theme-dark .headerNormal-T_seeN {
	background-color: #111119;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: #1C1B22;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
	background-color: #42414D;
}
.theme-dark .uploadModal-2ifh8j {
	background-color: #2B2A33;
}
.theme-dark .footer-3mqk7D {
	background-color: #1C1B22;
}

.activityPanel-28dQGo {
	border-top: 1px solid var(--background-modifier-accent);
}
